@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app {
  width: 390px;
  height: 844px;
  background: white;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  padding: 10 10px;
  padding-top: 35px;
  background: transparent;
  z-index: 9999;
}

.icon-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.icon-left,
.icon-right {
  font-size: 30px;
  line-height: 1;
  padding: 0 40px;
}

.bookmark-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 9999;
  pointer-events: auto;
}
  .bookmark-img.marked {
  content: url("icons/bookmark_filled.png");
}

.header-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: black;
  text-align: center;
  flex: 1;
}

#scroll-container {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.slide {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  padding-top: 70px;
}

.bg-rectangle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-circle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    height: 60%;
    border-radius: 70% 70% 0 0;
    z-index: 2;
  }

.shoe-img {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 460px; 
    transform: translate(-45%, -58%) rotate(23deg); 
    z-index: 3;
  }

.text-box {
    position: absolute;
    bottom: 110px;
    left: 20px;
    color: white;
    text-align: left;
    max-width: 80%;
    z-index: 5;
    letter-spacing: 0.1px;
  }

.shoe-name-text {
  font-weight: 550;
  font-size: 17px;
  margin-bottom: 5px;
  color: white;
}

.product-line {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: white;
}

.product-label {
  font-weight: 300;
  color: white;
}

.more-btn {
  background: none;
  border: none;
  font-family: 'Montserrat', sans-serif; 
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  cursor: pointer;
  pointer-events: auto;
  padding: 0;
  letter-spacing: 0.3px;
}

.description-text {
  display: none;
  margin-top: 6px;
  font-size: 13px;
  color: white;
  line-height: 1.4;
}

.like-button {
  position: absolute;
  z-index: 4;
  cursor: pointer;
  pointer-events: auto;
}

.heart-img {
  width: 36px;
  height: 36px;
  transition: filter 0.2s ease;
}

.Sohle {
  bottom: 370px;
  left: 120px;
}

.Farbe {
  top: 250px;
  left: 47px;
}

.Schnürsenkel {
  bottom: 550px;
  right: 75px;
}

.heart-img.liked {
  content: url("icons/heart-red.png");
}

